$c-guardian-brand:         #005689;
$c-guardian-brand-light:   #94b1ca;
$c-guardian-brand-dark:    #00456e;

$c-error:                  #d61d00;
$c-success:                #4a7801;

// Neutral palette
$c-neutral-1:              #333333;
$c-neutral-2:              #767676;
$c-neutral-3:              #bdbdbd;
$c-neutral-4:              #dcdcdc;
$c-neutral-5:              #eaeaea;
$c-neutral-6:              #f6f6f6;

// News palette
$c-news-main-1:            #005689;
$c-news-main-2:            #4bc6df;
$c-news-support-1:         #aad8f1;
$c-news-support-2:         #197caa;
$c-news-support-3:         #69d1ca;
$c-news-support-4:         #66a998;
$c-news-support-5:         #aad801;
$c-news-support-6:         #63717a;
$c-news-support-7:         #484f53;

// Features palette
$c-features-main-1:        #7d0068;
$c-features-main-2:        #b82266;
$c-features-support-1:     #951c55;
$c-features-support-2:     #4e0375;
$c-features-support-3:     #fdadba;
$c-features-support-4:     #dc2a7d;

// Comment palette
$c-comment-main-1:         #c05303;
$c-comment-main-2:         #ff9b0b;
$c-comment-support-1:      #7d7569;
$c-comment-support-2:      #efefec;
$c-comment-support-3:      #ffce4b;
$c-comment-support-4:      #e6711b;

// Multimedia palette
$c-multimedia-main-1:      #333333;
$c-multimedia-main-2:      #ffbb00;
$c-multimedia-support-1:   #c5d4ea;
$c-multimedia-support-2:   #507892;
$c-multimedia-support-3:   #002c59;
$c-multimedia-support-4:   #484848;
$c-multimedia-support-5:   #161616;

// Live palette
$c-live-main-1:            #b51800;
$c-live-main-2:            #cc2b12;
$c-live-support-1:         #ff5b3a;
$c-live-support-2:         #800c0c;
$c-live-support-3:         #a60947;

// Maps palette
$c-maps-main-1:            #1c6326;
$c-maps-main-2:            #298422;
$c-maps-support-1:         #ceb41d;
$c-maps-support-2:         #a9af2b;
$c-maps-support-3:         #5ebfba;
$c-maps-support-4:         #72af7e;

// External content palette
$c-external-main-1:        #1c6326;
$c-external-support-1:     #a9af2b;