@font-face{
	font-family: 'Guardian Egyptian Web';
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;

	src: url('https://interactive.guim.co.uk/gia/fonts/v4/GuardianEgyptianWeb/GuardianEgyptianWeb-Semibold.eot');
	src: url('https://interactive.guim.co.uk/gia/fonts/v4/GuardianEgyptianWeb/GuardianEgyptianWeb-Semibold.eot?#iefix') format('embedded-opentype'), url('https://interactive.guim.co.uk/gia/fonts/v4/GuardianEgyptianWeb/GuardianEgyptianWeb-Semibold.woff') format('woff'), url('https://interactive.guim.co.uk/gia/fonts/v4/GuardianEgyptianWeb/GuardianEgyptianWeb-Semibold.ttf') format('truetype'), url('https://interactive.guim.co.uk/gia/fonts/v4/GuardianEgyptianWeb/GuardianEgyptianWeb-Semibold.svg#Guardian-Egyp-Web-Semibold') format('svg');
}

@font-face{
	font-family: 'Guardian Text Sans Web';
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;

	src: url('https://interactive.guim.co.uk/gia/fonts/v1/fonts/TextSans-Regular.eot');
	src: url('https://interactive.guim.co.uk/gia/fonts/v1/fonts/TextSans-Regular.eot?#iefix') format('embedded-opentype'), url('https://interactive.guim.co.uk/gia/fonts/v1/fonts/TextSans-Regular.woff') format('woff'), url('https://interactive.guim.co.uk/gia/fonts/v1/fonts/TextSans-Regular.ttf') format('truetype'), url('https://interactive.guim.co.uk/gia/fonts/v1/fonts/TextSans-Regular.svg#TextSans-Regular') format('svg');
}

@font-face{
	font-family: 'Guardian Text Sans Web';
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;

	src: url('https://interactive.guim.co.uk/gia/fonts/v4/GuardianTextSansWeb/GuardianTextSansWeb-Black.eot');
	src: url('https://interactive.guim.co.uk/gia/fonts/v4/GuardianTextSansWeb/GuardianTextSansWeb-Black.eot?#iefix') format('embedded-opentype'), url('https://interactive.guim.co.uk/gia/fonts/v4/GuardianTextSansWeb/GuardianTextSansWeb-Black.woff') format('woff'), url('https://interactive.guim.co.uk/gia/fonts/v4/GuardianTextSansWeb/GuardianTextSansWeb-Black.ttf') format('truetype'), url('https://interactive.guim.co.uk/ggia/fonts/v4/GuardianTextSansWeb/GuardianTextSansWeb-Black.svg#GuardianTextSansWeb-Black') format('svg');
}
