.header {
    position: relative;
    padding: 5px 0 36px;
    box-sizing: border-box;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 120px;
        height: 4px;
        background-color: $c-neutral-1;
    }
}

.header__name {
    margin: 3px 0 2px;
    font-weight: normal;
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    font-size: 24px;
    line-height: 1.1;
}

.header__name--type {
    color: $c-news-main-2;
}

.header__meta {
    position: absolute;
    bottom: 6px;
    left: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1;
    font-weight: normal;

    span:first-of-type {
        position: relative;
        margin-right: 12px;

        &:after {
            content: '';
            position: absolute;
            width: 4px;
            height: 4px;
            top: 0;
            bottom: 0;
            right: -10px;
            margin: auto;
            background-color: $c-news-main-2;
            border-radius: 4px;
        }
    }
}

.header__number {
    position: absolute;
    font-weight: bold;
    top: 2px;
    line-height: 1;
    right: -2px;
    opacity: 0.2;
    font-size: 70px;

    &:before {
        content: '#'
    }
}

.head-to-head {
    .header__meta {
        text-align: center;
        width: 100%;

        span:first-of-type:after {
            display: none;
        }

        .team-1 {
            position: absolute;
            left: 0;
        }

        .team-2 {
            position: absolute;
            right: 0;
        }
    }
}