.stats {
    padding-bottom: 12px;
}

.stats__stat {
    position: relative;
    width: 100%;
    border-top: 2px dotted $c-neutral-4;
    padding: 5px 0 18px;

    &--last,
    &:last-of-type {
        border-right: 0;
    }
}

.stats__number {
    font-family: 'Guardian Egyptian Web';
    color: $c-news-main-2;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.2;
    text-align: right;
    position: absolute;
    right: 0;
    top: 2px;
}

.stats__stat--hidden {
    display: none;
}

.head-to-head {
    .stats__stat {
        text-align: center;
    }

    .stats__number:first-of-type {
        right: auto;
        left: 0px;
    }
}